
.section {
    border: black solid 1px;
    width: 98%;
    height: auto;
    display: flex;

}

.gameboard {
    border: red solid 1px;
    width: 400px;
    height: 400px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.fleetsquare, .movesquare {
    border: black solid 1px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship {
    display: flex;
    padding: 5px;
    width: fit-content;
    cursor: move;
}

.ship-square {
    outline: steelblue solid 1px;
    width: 40px;
    height: 40px;
}

.dragging {
    background-color: brown;
}

.allowed {
    background-color: lightgreen;
}

.placedship {
    opacity: 0.5;
}
